@font-face {
    font-family: arialBlack;
    src: url(./assets/fonts/Arial-Black/ariblk.ttf);
}
@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}
*{
    font-family: poppins;
}