@font-face {
    font-family: arialBlack;
    src: url(./assets/fonts/Arial-Black/ariblk.ttf);
}
@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}
*{
    font-family: poppins;
}
:root {
    --noirbe : rgb(56, 56, 56);
    --white : #edf1f4;
    --blueThem : #0099B9;
    --blueThemClaire : #00b3d6;
    --blueThemDur : #024F5F;
    --grayTransp : #3f3d551a;
    --orange : #ff6161;
}